[mysqld]
datadir=/vagrant/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
# Recommended in standard MySQL setup
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

character-set-server=utf8
collation-server=utf8_general_ci
skip-character-set-client-handshake

default-storage-engine=innodb
transaction-isolation=REPEATABLE-READ

max_connections=300
max_allowed_packet=500M

slow_query_log=1
long_query_time=2
log-queries-not-using-indexes=1
slow_query_log_file=/var/log/slow_query.log

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

[mysqldump] 
quick 
max_allowed_packet=500M 
default-character-set=utf8

[mysql] 
no-auto-rehash 
default-character-set=utf8
# Remove the next comment character if you are not familiar with SQL 
#safe-updates
